<div class="loginmodal-container">
    <h1>Sign up for a new account</h1><br>
    <form ng-submit="signup()">
        <input type="text" name="user" placeholder="E-mail" ng-model="signObj.email">
        <input type="password" name="pass" placeholder="Password" ng-model="signObj.pass">
        <input type="submit" name="login" class="login loginmodal-submit" value="Signup">
    </form>

    <div class="login-help">
        <a ui-sref="auth-login">Login</a> - <a href="#">Forgot Password</a>
    </div>
</div>