<div class="modal-header">
    <h3>Add item</h3>
</div>

<form class="form" ng-submit="submitForm()">
<div class="modal-body">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Item" ng-model="item.item_id"/>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" placeholder="How much" ng-model="item.qty"/>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Unit" ng-model="item.unit"/>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-primary" ng-click="cancel();">Cancel</button>
</div>
</form>
