<div class="list-card">
    <div class="list-header">
        <button class="menu-button"><span class="fa fa-cog fa-2x"></span></button>
        <!-- <div class="list-name">Lidl</div> -->
        <div class="list-name">{{list.name}}</div>
        <!-- <button class="btn btn-primary pull-left" ng-click="openShareListModal()"><i class="glyphicon glyphicon-share-alt"></i>share</button> -->
        <!-- <button class="btn btn-success pull-right" ng-click="openDeleteListModal()"><i class="glyphicon glyphicon-remove"></i></button> -->
    </div>



    <!-- <div class="list-body">
        <div class="list-group">
            <div class="list-group-item list-group-item-action" ng-class="{greyedout: item.checked}" ng-repeat="item in items">
                <button class="btn btn-danger"><span class="fa fa-trash"></span></button>
                {{item.qty}} {{item.unit}} <strong>{{item.item_id}}</strong>
                <form class="form-inline">
                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <div class="list-body">
        <div class="list-item" ng-repeat="item in items">
            <!-- <button class="btn btn-danger"><span class="fa fa-trash"></span></button> -->
            <div class="ellipsis" ng-class="{greyedout:item.checked}">{{item.qty}} {{item.unit}} <strong>{{item.item_id}}</strong></div>
            <label class="checkbox-container">
                <input type="checkbox" ng-model="item.checked" ng-click="handleCheckboxCheck(item, $index)">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <div class="list-bottom">
        <button class="add-item-button" ng-click="openNewItemModal();"><span>Add</span></button>
    </div>
</div>
