<form ng-submit="submitNewList()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()">&times;</button>
        <h3>Add New Shopping List</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="listname" aria-describedby="listnameHelp" placeholder="List name" ng-model="listName">
                <small id="listnameHelp" class="form-text text-muted">Enter an easy-to-remember name of the list. Like the name of the shop.</small>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-block btn-primary" ng-click="submitNewList()" ng-disabled="loading">Add List</button>
    </div>
</form>