@import url(http://fonts.googleapis.com/css?family=Roboto);

$list-card-radius: 10px;
$cardheight: 600px;
$cardbottomheight: 100px;
$cardheaderheight: 50px;
$cardwidth: 400px;
$whitecolor: #f1f1f1;
$primarycolor: #121797;


html {
    min-height: 100%;
};
body {
    min-height: 100%;
    background: #30cfd0;
    background: -webkit-linear-gradient(120deg, #30cfd0 0%, #330867 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(120deg, #30cfd0 0%, #330867 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(120deg, #30cfd0 0%, #330867 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(120deg, #30cfd0 0%, #330867 100%);
    margin: 0;
};



/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 600px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
};

.login-help{
  font-size: 12px;
};

.main-container {
    padding: 10px;
};
.list-card {
    border: 1px solid grey;
    margin: 10px;
    border-radius: $list-card-radius;
    background-color: #f2f2f2;
    width: $cardwidth;
    height: $cardheight;
    padding: 0px;
    display: inline-block;
    position: relative;
    transition: 0.3s;
};
.list-card:hover {
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
};
.list-header {
    display: block;
    text-align: center;
    font-size: 32px;
    border-radius: $list-card-radius $list-card-radius 0 0;
    font-family: "Old Standard TT";
    padding: 0px;
    margin: 0px auto;
    height: $cardheaderheight;
    background-color: #fafafa;
};
.list-bottom {
    position: absolute;
    // display: block;
    width: $cardwidth;
    margin: 0 auto;
    height: $cardbottomheight;
    top: $cardheight - $cardbottomheight;
    border-radius: 0 0 $list-card-radius $list-card-radius;
    background: -webkit-linear-gradient(rgba(white, 0), 20%, rgba(white, 1)); // For Safari 5.1 to 6.0
    background: -o-linear-gradient(rgba(white, 0), 20%, rgba(white, 1)); //For Opera 11.1 to 12.0
    background: -moz-linear-gradient(rgba(white, 0), 20%, rgba(white, 1)); // For Firefox 3.6 to 15
    background: linear-gradient(rgba(white, 0), 20%, rgba(white, 1));
};
.add-item-button {
    outline: 0;
    position: relative;
    background: $primarycolor;
    display: block;
    color: $whitecolor;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    left: $cardwidth/2 - 35px;
    top: $cardbottomheight/2 - 35px;
    border: none;
};
.menu-buttons {
    background: #fafafa;
    position: absolute;
    width: 40px;
    font-size: 0.5em;
    display: inline-block;
    left: 10px;
    top: 10px;
    overflow: hidden;
    text-align: left;
    transition: 0.2s;
};
.menu-buttons:hover {
    width: 120px;
    transition: 0.2s;
}
.main-menu-button {
    display: inline-block;
    border: 0;
    margin: 0;
    outline: 0;
    background: white;
    color: $primarycolor;
    width: 30px;
    height: 30px;
}
.menu-button {
    display: inline-block;
    position: absolute;
    border: 0;
    margin-left: 10px;
    outline: 0;
    background: white;
    color: $primarycolor;
    width: 30px;
    height: 30px;
}

// .menu-button:hover {
//     color: $primarycolor + 50;
//     transition: 0.2s;
// };
.list-header .list-name {
    display: inline-block;
    position: relative;
};
.add-item-button:hover {
    background: $primarycolor + 50;
    transition: 0.2s;
};
.ellipsis {
    width: 85%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.greyedout {
    text-decoration: line-through;
    color: #b3b3b3;
};

.list-body {
    position: relative;
    width: 95%;
    height: $cardheight - $cardheaderheight;
    padding: 2px;
    padding-bottom: $cardbottomheight + 2px;
    margin: 0 auto;
    overflow: auto;
};
.list-item {
    position: relative;
    display: block;
    background-color: white;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding: 25px;
    padding-top: 12px;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 2px 2px 1px #b0b0b0;
    transition: 0.1s;
    font-size: 20px;
};
.list-item:hover {
    box-shadow: 4px 4px 2px #d5d5d5;
    transition: 0.1s;
    cursor: pointer;
}



.checkbox-container {
    display: inline-block;
    position: relative;
    float: right;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
};

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
};

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 40px;
    background-color: #eee;
};

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
};

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    // background-color: #2196F3;
    background-color: #01FF70;
};

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
};

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
};

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
};

#add-new-list {
    position: fixed;
    display: block;
    bottom: 50px;
    right: 50px;
    background-color: #30cfd0;
    outline: 0;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
    padding: 15px;
};